
/*ЛОГОТИП*/
.blockLogo
{
height: 40vh ;
display: flex;
justify-content: center;
align-items: center;


}

.logo{
/*margin:0 0 30px 0 ;
padding: 50px;*/
width: 200px;
height: 200px;
background-color: white;
position: relative;

}
.table{
width: 40%;
height: 5%;
background-color: sienna;
position: absolute;
top:47%;
left: 29% ;

}

.upperPart{
width: 5%;
height: 16%;
border-radius: 50%;
background-color: sienna;
position: absolute;
top:49%;
left: 46% ;
}

.bottomPart{
width: 0;
height: 12%;
border-left: 15px solid transparent ;
border-right: 15px solid transparent ;
border-bottom: 30px solid #a0552d;
position: absolute;
top:50%;
left: 41% ;

}


.upperDot{
width: 5%;
height: 5%;
border-radius: 50%;
background-color: #ff0000;
position: absolute;
top:23.5%;
left: 45% ;
}

.cap{
width: 12.5%;
height: 10%;
border-radius: 50%;
background: radial-gradient(circle at 42% 38%, #ffffff 2% ,#ff0000 80%);
position: absolute;
top:25.5%;
left: 41.25% ;
}
.form{
width: 22.5%;
height: 17.5%;
border-radius: 50%;
background: radial-gradient(circle at 30% 40%, #ffffff ,#ff0000 80%);
position: absolute;
top:30%;
left: 36.5% ;

}
.handle{
width: 7.5%;
height: 7.5%;
border-radius: 50%;
background-color: #ffffff;
border: 3px solid #ff0000;
position: absolute;
top:32.5%;
left: 54% ;

}
.spout{
margin-left: 10%;
width: 3.5%;
height: 4.5%;
transform: skew(55deg);
background: #ff0000;
position: absolute;
top:32.5%;;
left: 25.5%; ;

}


.spinka1{

width: 15%;
height: 50%;
border-radius: 50%;
background-color: #a0552d;
position: absolute;
top:25%;
left: 3% ;

}

.spinka2{
width: 15%;
height: 50%;
border-radius: 50%;
background-color: #ffffff;
position: absolute;
top:25%;
left: 0% ;

}
.noga{
width: 3%;
height: 18.5%;
background-color: #a0552d;
position: absolute;
top:57.5%;
left: 27% ;
}

.noga2{
width: 3%;
height: 18.5%;
background-color: #a0552d;
position: absolute;
top:57.5%;
right: 27% ;
}

.sidushka{
width: 17.5%;
height: 4%;
background-color: #a0552d;
position: absolute;
top:57.5%;
left: 15% ;
}

.sidushka2{
width: 17.5%;
height: 4%;
background-color: #a0552d;
position: absolute;
top:57.5%;
right: 15% ;
}
.dot1{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
left: 16% ;

}
.dot2{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
left: 21.5% ;

}
.dot3{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
left: 27% ;
}
.dot4{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
right: 16% ;

}
.dot5{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
right: 21.5% ;

}
.dot6{
width: 3%;
height: 2.5%;
border-radius: 50%;
background-color: #311700;
position: absolute;
top:58.25%;
right: 27% ;
}

.spinka3{

width: 15%;
height: 50%;
border-radius: 50%;
background-color: #a0552d;
position: absolute;
top:25%;
right: 3% ;

}

.spinka4{
width: 15%;
height: 50%;
border-radius: 50%;
background-color: #ffffff;
position: absolute;
top:25%;
right: 0% ;

}