section {
    width: 900px;
    margin: 0 auto;
    min-height: 450px;
    padding: 0px 10px 10px 20px;
    background-color: #ffffff;
    text-align: center;
}

#upper{
    width: 100%;
    background-color: #ff6666;
    height:40px;
    position: relative;
}

#bottom{
    display: flex;
}

#left{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    margin: 20px;
    border: 2px solid #ff6666;
    min-height: 400px;
}

#right{
    float:right;
    width: 70%;
    min-height: 400px;
}



#col{
    display: flex;
    flex-direction: column;
    width: 30%;
    float:right;
    min-height: 400px;
}

.square{    /*наши перетаскиваемые элементы*/
    padding: 20px 20px; /* расстояние от текста до края кнопки */
    margin: 10px 10px;
    background-color: rgb(243, 197, 128);
    max-width: 150px;
    border: none;
    align-items: center;
}





#added_words{
    background-color: #ffffff;
    border: 2px solid #676363;
    width: 30%;
    height: 20px;
    margin: auto;
    position: absolute;
}

.crush{
    background-color: rgb(243, 197, 128);
    padding: 10px;
    border: 2px solid #676363;

}